.errorStyle{
  border:1px solid #ccc !important;
  margin: 0px;
  text-align: center;
  margin-top: -15px;
  background-color: #f8c1c3 !important;
  color: #ea454b !important;
}
.container {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 25px solid #dcedc8;
}
.innnerContainer{
  border:1px solid #ed8323 !important;
}
.margin{
  margin: 10px;
}
