<!-- banner-bottom -->
<div class="container">

    <div class="row innnerContainer"  id="account_create">
        <div class="faqs-top-grids margin">
            <div class="book-grids">
                <div class="col-md-6 book-left">
                    <div class="book-left-info">
                      <h4 style="color: #ed8323"> {{ 'register_create_account' | translate}} </h4>
                    </div>
                    <div class="book-left-form">
                        <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">

                        <div class="form-group">
                            <label>{{"register_label_fullname" | translate}}</label>
                            <input class="form-control" formControlName="fullName" name="fullName" type="text"
                            [class.is-invalid]="registrationForm.controls['fullName'].invalid && registrationForm.controls['fullName'].touched">
                        </div>
                        <div class="errorStyle" *ngIf="registrationForm.controls['fullName'].invalid && registrationForm.controls['fullName'].touched">
                          <b *ngIf="registrationForm.controls['fullName']?.errors.required">
                            {{ 'register__fullname_required_error'| translate }} <br>
                          </b>
                          <b *ngIf="!registrationForm.controls['fullName']?.errors.minLength">
                            {{ 'register__fullname_minCharacter_error' | translate }}
                          </b>
                        </div>

                        <!-- <div class="form-group">
                            <label for="Last Name">{{ 'register_label_lastname' | translate}}</label>
                            <input  class="form-control" formControlName="lastName"  name="lastName" type="text"
                            [class.is-invalid]="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched">
                        </div>
                         <div class="text-danger" *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched">
                          <b *ngIf="registrationForm.controls['lastName']?.errors.required">
                            *** {{ 'register__lastname_required_error' | translate}} ***<br>
                          </b>
                          <b *ngIf="!registrationForm.controls['lastName']?.errors.minLength">
                            ***{{ 'register__lastname_minCharacter_error' | translate}} ***
                          </b>
                        </div> -->

                        <div class="form-group">
                            <label for="Phone Number">{{ 'register_label_phoneNumber' | translate}} </label>
                            <input class="form-control" formControlName="phoneNumber"  name="phoneNumber" type="text"
                            [class.is-invalid]="registrationForm.controls['phoneNumber'].invalid && registrationForm.controls['phoneNumber'].touched">
                        </div>
                        <div class="errorStyle" *ngIf="registrationForm.controls['phoneNumber'].invalid && registrationForm.controls['phoneNumber'].touched">
                          <b *ngIf="registrationForm.controls['phoneNumber']?.errors.required">
                            {{'register__phoneNumber_required_error' | translate}}<br>
                          </b>
                          <b *ngIf="!registrationForm.controls['phoneNumber']?.errors.minLength">
                             {{ 'register__phoneNumber_digit_error' | translate}}
                          </b>
                        </div>

                        <div class="form-group">
                            <label for="E-mail Address">{{ 'register_label_email' | translate}}</label>
                            <input class="form-control" formControlName="email"  name="email" type="text"
                            [class.is-invalid]="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
                        </div>
                        <div class="errorStyle" *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
                          <b *ngIf="registrationForm.controls['email']?.errors.required">
                            {{ 'register__email_required_error' | translate}}<br>
                          </b>
                          <b *ngIf="registrationForm.controls['email']?.errors.email">
                            {{ 'register__email_invalid_error' | translate}}
                          </b>
                        </div>

                        <div class="form-group">
                            <label for="ID Card Number">{{ 'register_label_idcard' | translate}}</label>
                            <input class="form-control" name="idNumber" formControlName="idNumber" type="text"
                            >
                        </div>
                       <!-- <div class="text-danger" *ngIf="registrationForm.controls['idNumber'].invalid && registrationForm.controls['idNumber'].touched">
                          <b *ngIf="registrationForm.controls['idNumber']?.errors.required">
                            *** the Id card Number is required ***<br>
                          </b>
                          <b *ngIf="!registrationForm.controls['idNumber']?.errors.minLength && !registrationForm.controls['idNumber']?.errors.maxLength">
                            *** the ID number must be a  exactly 9 digit ***
                          </b>
                        </div> -->

                        <input name="role" [hidden]="true" value="user" formControlName="role"/>

                        <div class="form-group">
                            <label for="Password">{{ 'register_label_password' | translate}}</label>
                            <input name="password" formControlName="password"  class="form-control" type="password"
                            [class.is-invalid]="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched"/>
                        </div>
                        <div class="errorStyle" *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">
                          <b *ngIf="registrationForm.controls['password']?.errors.required">
                            {{ 'register__password_required' | translate }}<br>
                          </b>
                          <b *ngIf="!registrationForm.controls['password']?.errors.minLength && !registrationForm.controls['password']?.errors.maxLength">
                            {{ 'register__password_minlength' | translate }}
                          </b>
                        </div>

                        <div class="form-group">
                            <label for="Confirm Password">{{ 'register_label_passwordconfirmation' | translate}}</label>
                            <input name="passwordConfirmation" formControlName="passwordConfirmation" class="form-control" type="password"/>
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary submitButton" type="submit" value="{{ 'register_label_register' | translate }}" [disabled]="!registrationForm.valid">
                        </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 book-left book-right">
                    <div class="book-left-info">
                        <h4 style="color: #ed8323">{{ 'register__label_reasonHavingAccount' | translate}}</h4>
                    </div>
                    <div class="book-left-bottom">
                    </div>
                    <ul>
                        <li>{{ 'register__label_accessbooking' | translate}}</li><br>
                        <li>{{ 'register__label_smsTicket' | translate}}</li><br>
                        <li>{{ 'register__label_checkoutSimpler' | translate}}</li><br>
                        <li>{{ 'register__label_contactdetail' | translate}}</li><br>
                        <li>{{ 'register__label_getalert' | translate}}</li><br>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<div *ngIf="loader" id="menu">
  <div class="w3-margin-top">
    <div
      class="preloader-wrapper big active" id="loader"
    >
      <div class="spinner-layer spinner-white-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
