
<div class="col-md-4">

  <aside class="user-profile-sidebar containers">
    <div class="user-profile-avatar text-center">
      <img
        [src]="imagepath"
        class="origin round img-responsive img-rounded"
        alt="User Account Avatar"
      />
      <h5>{{ userInfos.fullName }}</h5>
      <p>{{ 'account_menu_member_since' | translate }} 23 Nov 2019</p>
    </div>
    <ul class="list user-profile-nav">
      <li routerLinkActive="active">
        <a
          routerLink="../overview"
          ><i class="fa fa-user"></i>{{ 'account_menu_overview' | translate }}</a
        >
      </li>
      <li routerLinkActive="active">
        <a
           routerLink="../setting"
          ><i class="fa fa-cog"></i>{{ 'account_menu_setting' | translate }}</a
        >
      </li>
      <li routerLinkActive="active">
        <a
          routerLink="../booking"
          ><i class="fa fa-clock-o"></i>{{ 'account_menu_history'|  translate }}</a
        >
      </li>
      <li routerLinkActive="active">
        <a  routerLink="../reservation"
          ><i class="fa fa-book"></i>{{ 'account_menu_reservation' | translate }}</a
        >
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active">
        <a  routerLink="../admin"
          ><i class="fa fa-tasks"></i>{{ 'account_menu_manageTransitandStop' | translate }}</a
        >
      </li>
      <li *ngIf="isAdminOfficial" routerLinkActive="active">
        <a  routerLink="../officialAgency"
          ><i class="fa fa-tasks"></i>{{ 'account_menu_manageOfficailAgency' | translate }}</a
        >
      </li>
    </ul>
  </aside>
  </div>

