<div class="container" style="margin-top: 50px; margin-bottom: 20px">
    <!-- container -->
    <div class="row" id="account_login">
        <div class="faqs-top-grids">
            <div class="book-grids">
                <div class="col-md-6 book-left">
                    <div class="book-left-info">

                        <h4 style="color: #ed8323">{{ 'forgot_password_reset_ccount_label' | translate }}</h4>
                        <br>
                    </div>
                    <div class="book-left-form">


                        <form accept-charset="UTF-8" [formGroup]="resetForm" (ngSubmit)="resetFunction()">

                        <div class="form-group">
                            <label>{{ 'register_label_email' | translate}}</label>
                            <input class="form-control"
                            placeholder="Please enter your account email address to proceed"
                            name="email"
                            type="text"
                            formControlName="email"
                            [class.is-invalid]="resetForm.controls['email'].invalid && resetForm.controls['email'].touched">
                        </div>
                        <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched">
                          <small class="text-danger" *ngIf="resetForm.controls['email']?.errors.required">*** {{ 'register__email_required_error' | translate }} ***<br></small>
                          <small class="text-danger" *ngIf="resetForm.controls['email']?.errors.email">*** {{ 'register__email_invalid_error' | translate }} ***</small>
                        </div>
                         <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="{{ 'reset_password_label' | translate }}" [disabled]="!resetForm.valid">
                        </div>

                        </form>
                        <div class="button-bottom" style="font-size: medium">
                            <a [routerLink]="loginPath">{{ 'header_link_login' | translate}}</a>

                            <a style="float: right" [routerLink]="createNewAccount"> {{ 'login__label_createNewAccount' | translate}}</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 book-left book-right">
                    <div class="book-left-info">
                        <h4 style="color: #ed8323">{{ 'register__label_reasonHavingAccount' | translate}}</h4>
                    </div>
                    <div class="book-left-bottom">

                    </div>
                    <ul>
                        <li>{{ 'register__label_accessbooking' | translate}}</li><br>
                        <li>{{ 'register__label_smsTicket' | translate}}</li><br>
                        <li>{{ 'register__label_checkoutSimpler' | translate}}</li><br>
                        <li>{{ 'register__label_contactdetail' | translate}}</li><br>
                        <li>{{ 'register__label_getalert' | translate}}</li><br>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
