<div class="container" style="margin-top: 50px; margin-bottom: 20px">
  <div class="gap gap-small"></div>
  <div *ngIf="isAdmin">
    <h5>{{ 'create_official_agency_label_canCreate'| translate }}</h5>
  </div>

  <div class="row">
    <app-account-menu></app-account-menu>
    <div class="col-md-8" *ngIf="isAdmin">
      <div class="alert alert-danger text-center"><b>{{ 'create_official_agency_label_nonCreated' | translate }}</b>
      </div>
      <button class="btn btn-primary rightButton"
        routerLink="../add">{{ 'create_official_agency' | translate }}</button>
    </div>

    <div class="col-md-8 " *ngIf="isAgencyAdmin">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">{{ 'agency_title_user_roles' | translate }}</h4>
          <div class="gap gap-small"></div>
          <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr style="background-color: rgb(237, 131, 35);color: white;">
                  <th class="center upper">{{ 'admin_label_user_fullname' | translate }}</th>
                  <th class="center upper">{{ 'admin_label_user_roles' | translate }}</th>
                  <th colspan="2" class="center upper">{{ 'admin_label_action' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngFor="let user of users; let i = index">
                <td class="center">{{ user.fullName }}</td>
                <td class="center">{{ user.roles }}</td>
                <td class="center"><a class="btn btn-info btn-sm"
                    (click)="edit(user)">{{ 'admin_label_edit' | translate }}<i class="fa fa-trash-o"></i></a>
                </td>
                <td class="center"><a class="btn btn-danger btn-sm"
                    (click)="sweetalert(user)">{{ 'admin_label_delete' | translate }}<i class="fa fa-trash-o"></i></a>
                </td>
              </tbody>
            </table>

            <div *ngIf="users==''" class="mx-auto alert alert-danger">
              <h6 class="text-center">There is no available user</h6>
            </div>

          </div>
        </div>
      </div>

      <button class="btn btn-primary rightButton" routerLink="../addOfficialUser">Add Official Agency User</button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-loader></app-loader>
</div>