<title>{{ title }}</title>

<!-- TOP AREA -->
<div class="top-area show-onload">
  <div class="bg-holder full">
    <div class="bg-mask"></div>
    <div
      class="bg-parallax"
      style="background-image:url(../../assets/template/images/b1.jpg);"
    ></div>
    <div class="bg-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="search-tabs search-tabs-bg mt50">
              <h4 style="color: white">
                {{ "home_label_perfecttrip" | translate }}
              </h4>

              <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active">
                    <a href="#tab-1" data-toggle="tab"
                      ><i class="fa fa-bus"></i> <span>{{ "home_label_bus" | translate | uppercase }}</span></a
                    >
                  </li>
                  <li>
                    <a href="#tab-2" data-toggle="tab"
                      ><i class="fa fa-train"></i> <span>{{ "home_label_train" | translate | uppercase }}</span></a
                    >
                  </li>
                  <li>
                    <a
                      id="event_tab"
                      href="#tab-3"
                      onclick="showTabEvent()"
                      data-toggle="tab"
                      ><i class="fa fa-calendar"></i> <span>{{ "home_label_event" | translate | uppercase }}</span></a
                    >
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab-1">
                    <h4>{{ "home_label_book" | translate }}</h4>
                    <form
                      method="GET"
                      action="#"
                      accept-charset="UTF-8"
                      [formGroup]="searchBus"
                      (ngSubmit)="onSubmit()"
                      #form="ngForm"
                    >
                      <div class="">
                        <div class="row">
                          <div class="col-md-6">
                            <div
                              class="form-group form-group-lg form-group-icon-left"
                            >
                              <i class="fa fa-map-marker input-icon"></i>
                              <label>{{ "home_label_from" | translate }} :</label>
                              <input
                                value="Buea"
                                name="from_destination"
                                class="typeahead form-control"
                                placeholder="Departing City or Town"
                                type="text"
                                formControlName="departing"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div
                              class="form-group form-group-lg form-group-icon-left"
                            >
                              <i class="fa fa-map-marker input-icon"></i>
                              <label>{{ "home_label_to" | translate }}: </label>
                              <input
                                value="Yaounde"
                                name="to_destination"
                                class="typeahead_to form-control"
                                placeholder="Arriving City or Town"
                                type="text"
                                formControlName="arriving"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div
                              class="form-group form-group-lg form-group-icon-left"
                            >
                              <i
                                class="fa fa-calendar input-icon input-icon-highlight"
                              ></i>
                              <label>{{ "home_label_depart" | translate }}</label>
                              <input
                                value="12/19/2016"
                                name="depart_times"
                                class=" form-control"
                                type="text"
                                formControlName="departingTime"
                              />
                            </div>
                          </div>
                          <!--remove class data-pick from depart_times input -->
                          <div class="col-md-6"></div>
                        </div>
                      </div>

                      <button
                        class="btn btn-primary btn-lg"
                        type="submit"
                        [disabled]="!searchBus.valid"
                      >
                        {{ "home_link_search" | translate }}
                      </button>
                    </form>
                  </div>

                  <div class="tab-pane fade" id="tab-2">
                    <h4>{{ "home_label_search_cheep_trains" | translate }}</h4>
                    <form action="" method="" [formGroup]="searchTrain"
                      (ngSubmit)="onSubmitTrain()"
                      #form="ngForm">
                      <div class="">
                        <div class="">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group form-group-lg form-group-icon-left">
                                <i class="fa fa-map-marker input-icon"></i>
                                <label>{{ "home_label_from" | translate }} :</label>
                                <input
                                  required="true"
                                  name="from_destination"
                                  class="typeahead form-control"
                                  placeholder="Departing City or Town"
                                  type="text"
                                   formControlName="from_destination"
                                />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div
                                class="form-group form-group-lg form-group-icon-left"
                              >
                                <i class="fa fa-map-marker input-icon"></i>
                                <label>{{ "home_label_to" | translate }}: </label>
                                <input
                                  required="true"
                                  name="to_destination"
                                  class="typeahead form-control"
                                  placeholder="Arriving City or Town"
                                  type="text"
                                  formControlName="to_destination"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div
                                class="form-group form-group-lg form-group-icon-left"
                              >
                                <i
                                  class="fa fa-calendar input-icon input-icon-highlight"
                                ></i>
                                <label>{{ "home_label_depart" | translate }}</label>
                                <input
                                  required="true"
                                  name="depart_times"
                                  class="date-pick form-control"
                                  type="text"
                                  formControlName="depart_times"
                                />
                              </div>
                            </div>
                            <div class="col-md-6"></div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-lg" type="submit" [disabled]="!searchTrain.valid">
                        {{ "home_label_searchtrains" | translate }}
                      </button>
                    </form>
                  </div>
                  <div class="tab-pane fade " id="tab-3">
                    <h4>{{ "home_label_attendEvent" | translate }}</h4>

                    <div
                      id="event_tab_content"
                      class="form-group form-group-lg  btn btn-primary btn-lg"
                      style="color: white; "
                    >
                      <a
                        href="http://www.events.gowaka.net"
                        target="_blank"
                        class=""
                        type="submit"
                        style="color: white"
                        >{{ "home_link_redirecttoevent" | translate }} ...</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TOP AREA  -->

<div class="gap"></div>

<div class="gap gap-small"></div>
<div class="container" style="margin-top: 10px">
  <div class="row row-wrap" data-gutter="60">
    <div class="col-md-4">
      <div class="thumb">
        <header class="thumb-header">
          <i
            class="fa fa-dollar box-icon-md round  animate-icon-top-to-bottom"
          ></i>
        </header>
        <div class="thumb-caption">
          <h5 class="thumb-title">
            <a class="text-darken">{{ "home_label_bestprice" | translate }}</a>
          </h5>
          <p class="thumb-desc">
            {{ "home_label_bestpricedescribe" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumb">
        <header class="thumb-header">
          <i
            class="fa fa-lock box-icon-md round  animate-icon-top-to-bottom"
          ></i>
        </header>
        <div class="thumb-caption">
          <h5 class="thumb-title">
            <a class="text-darken">Trust {{ "home_label_trust" | translate }} &amp; {{ "home_label_safe" | translate }}</a>
          </h5>
          <p class="thumb-desc">
            {{ "home_label_bestsecuritymeasure" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumb">
        <header class="thumb-header">
          <i
            class="fa fa-thumbs-o-up box-icon-md round  animate-icon-top-to-bottom"
          ></i>
        </header>
        <div class="thumb-caption">
          <h5 class="thumb-title">
            <a class="text-darken">{{ "home_label_customerservice" | translate }}</a>
          </h5>
          <p class="thumb-desc">
            {{ "home_label_customerservicedescribe" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap gap-small"></div>

<div class="bg-holder">
  <div class="bg-mask"></div>
  <div
    class="bg-parallax"
    style="background-image:url(../../../assets/template/images/cameroon.jpg);"
  ></div>
  <div class="bg-content">
    <div class="container">
      <div
        class="gap gap-big text-left text-white row"
        style="background: white;"
      >
        <div class="col-md-4 col-sm-4" style="padding: 10px">
          <h5 style="color: #565656">Top Bus Routes</h5>
          <ul class="list list-footer" style="font-size: 14px;color:#ed8323 ">
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href="#"
                >Buea -{{ "home_label_to" | translate }}- Bamenda</a
              >
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href="#"
                >Buea -{{ "home_label_to" | translate }}- Douala</a
              >
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href=""
                >Buea -{{ "home_label_to" | translate }}- Yaounde</a
              >
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href="#"
                >Bamenda -{{ "home_label_to" | translate }}- Douala</a
              >
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href="#"
                >Bamenda -{{ "home_label_to" | translate }}- Yaounde</a
              >
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>&nbsp;&nbsp;<a
                style="color:#ed8323"
                target="_blank"
                href="#"
                >Douala -{{ "home_label_to" | translate }}- Yaounde</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-4" style="padding: 10px">
          <h5 style="color: #565656">{{ "home_label_topagencies" | translate }}</h5>
          <ul class="list list-footer" style="font-size: 14px;color:#ed8323 ">
            <li>
              <i class="fa fa-building"></i>&nbsp;&nbsp;<a style="color:#ed8323"
                >{{ "home_label_musango" | translate }}</a
              >
            </li>

            <li>
              <i class="fa fa-building"></i>&nbsp;&nbsp;<a style="color:#ed8323"
                >{{ "home_label_valatican" | translate }}</a
              >
            </li>

            <li>
              <i class="fa fa-building"></i>&nbsp;&nbsp;<a style="color:#ed8323"
                >{{ "home_label_tanko" | translate }}</a
              >
            </li>

            <li>
              <i class="fa fa-building"></i>&nbsp;&nbsp;<a style="color:#ed8323"
                >{{ "home_label_magaza" | translate }}</a
              >
            </li>

            <li>
              <i class="fa fa-building"></i>&nbsp;&nbsp;<a style="color:#ed8323"
                >{{ "home_label_dengun" | translate }}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="gap"></div>
  <h4 class="text-left">{{ "home_label_topdestination" | translate }}</h4>
  <div class="gap">
    <div class="row row-wrap">
      <div class="col-md-3">
        <div class="thumb">
          <header class="thumb-header">
            <a class="hover-img curved" href="#">
              <img
                src="../../../assets/template/images/places/yaounde.jpg"
                alt="Image Alternative text"
              />
            </a>
          </header>
          <div class="thumb-caption">
            <h5 class="thumb-title " style="color: #ed8323">{{ "home_label_yaounde" | translate }}</h5>
            <p class="thumb-desc"></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumb">
          <header class="thumb-header">
            <a class="hover-img curved" href="#">
              <img
                src="../../../assets/template/images/places/douala1.jpg"
                alt="Image Alternative text"
              />
            </a>
          </header>
          <div class="thumb-caption">
            <h5 class="thumb-title" style="color: #ed8323">
              {{ "home_label_douala" | translate }}
            </h5>
            <p class="thumb-desc"></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumb">
          <header class="thumb-header">
            <a class="hover-img curved" href="#">
              <img
                src="../../../assets/template/images/places/buea2.jpg"
                alt="Image Alternative text"
              />
            </a>
          </header>
          <div class="thumb-caption">
            <h5 class="thumb-title" style="color: #ed8323">{{ "home_label_buea" | translate }}</h5>
            <p class="thumb-desc"></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumb">
          <header class="thumb-header">
            <a class="hover-img curved" href="#">
              <img
                src="../../../assets/template/images/places/bamenda.jpg"
                alt="Image Alternative text"
              />
            </a>
          </header>
          <div class="thumb-caption">
            <h5 class="thumb-title" style="color: #ed8323">{{ "home_label_bamenda" | translate }}</h5>
            <p class="thumb-desc"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
