<!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>

<header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" routerLink="/public/home">
                            <img [src]="imagepath" alt="logo image" title="GoWaka Bus Booking Platform" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                                                                                                                                                                                            </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">

                              <div *ngIf="isLoggedIn; then thisBlock; else elseBlock"></div>
                              <ng-template #thisBlock>
                                 <li>
                                  <i class="fa fa-user"></i>&nbsp;<a routerLink="public/authentication/login">{{ "user_name" }}</a>
                                </li>

                                <li><a routerLink="public/authentication/register"><i class="fa fa-user-plus" (click)="logout()"></i>&nbsp;logout</a>
                                    </li>
                                </ng-template>

                                <ng-template #elseBlock>
                                  <li><i class="fa fa-user"></i>&nbsp;<a routerLink="public/authentication/login">{{ "header_link_login" | translate }}</a>
                                    </li>

                                    <li><a routerLink="public/authentication/register"><i class="fa fa-user-plus"></i>&nbsp;{{ "header_link_register" | translate }}</a>
                                    </li>
                                </ng-template>

                                <li class="top-user-area-lang nav-drop">
                                    <a >
                                        <img src="../../../assets/template/images/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />{{ "default_lang" | translate }}<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                    </a>&nbsp;
                                    <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="German" href="#">
                                                    <img src="../../../assets/template/images/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Japanise" href="#">
                                                    <img src="../../../assets/template/images/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Italian" href="#">
                                                    <img src="../../../assets/template/images/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="French" href="#">
                                                    <img src="../../../assets/template/images/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Russian" href="#">
                                                    <img src="../assets/template/images/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Korean" href="#">
                                                    <img src="../../../assets/template/images/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                                </a>
                                            </li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li id="home" routerLinkActive="active"><a routerLink="/public/home">{{ "header_link_home" | translate }}</a>

                    </li>
                    <li id="faqs" routerLinkActive="active"><a routerLink="/public/faqs">{{ "header_link_faq" | translate }}</a>

                    </li>
                    <li id="about" routerLinkActive="active"><a routerLink="/public/about">{{ "header_link_about" | translate }}</a>

                    </li>

                    <li id="contact" routerLinkActive="active"><a routerLink="/public/contacts">{{ "header_link_contact" | translate }}</a>

                    </li>
                </ul>
            </div>
        </div>
    </header>
