<!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "../../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'srcipt', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <!-- <div class="global-wrap">
        <div class="demo_changer" id="demo_changer">
            <div class="demo-icon fa fa-sliders"></div>
            <div class="form_holder">
                <div class="line"></div>
                <p>Color Scheme</p>
                <div class="predefined_styles" id="styleswitch_area">
                    <a class="styleswitch" href="index-1c392.html?default=true" style="background:#ED8323;"></a>
                    <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
                    <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
                    <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
                    <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
                    <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
                    <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
                    <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
                    <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
                    <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
                    <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
                    <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
                    <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
                    <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
                    <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
                    <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
                </div>
                <div class="line"></div>
                <p>Layout</p>
                <div class="predefined_styles"><a class="btn btn-sm" href="#" id="btn-wide">Wide</a><a class="btn btn-sm" href="#" id="btn-boxed">Boxed</a>
                </div>
                <div class="line"></div>
                <p>Background Patterns</p>
                <div class="predefined_styles" id="patternswitch_area">
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/binding_light.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/binding_dark.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/dark_fish_skin.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/dimension.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/escheresque_ste.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/food.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/giftly.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/grey_wash_wall.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/ps_neutral.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/pw_maze_black.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/pw_pattern.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(../../../assets/template/images/img/patterns/simple_dashed.png);"></a>
                </div>
                <div class="line"></div>
                <p>Background Images</p>
                <div class="predefined_styles" id="bgimageswitch_area">
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/bike.jpg);" data-src="../../../assets/template/images/img/backgrounds/bike.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/flowers.jpg);" data-src="../../../assets/template/images/img/backgrounds/flowers.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/wood.jpg);" data-src="../../../assets/template/images/img/backgrounds/wood.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/taxi.jpg);" data-src="../../../assets/template/images/img/backgrounds/taxi.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/phone.jpg);" data-src="../../../assets/template/images/img/backgrounds/phone.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/road.jpg);" data-src="../../../assets/template/images/img/backgrounds/road.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/keyboard.jpg);" data-src="../../../assets/template/images/img/backgrounds/keyboard.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/beach.jpg);" data-src="../../../assets/template/images/img/backgrounds/beach.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/street.jpg);" data-src="../../../assets/template/images/img/backgrounds/street.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/nature.jpg);" data-src="../../../assets/template/images/img/backgrounds/nature.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/bridge.jpg);" data-src="../../../assets/template/images/img/backgrounds/bridge.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(../../../assets/template/images/img/switcher/cameras.jpg);" data-src="../../../assets/template/images/img/backgrounds/cameras.jpg"></a>
                </div>
                <div class="line"></div>
            </div>
        </div> -->

<header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" routerLink="/public/home">
                            <img [src]="imagepath" alt="logo image" title="GoWaka Bus Booking Platform" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                                                                                                                                                                                            </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">


                                    <li><i class="fa fa-user"></i>&nbsp;<a routerLink="account/login">{{ "header_link_login" | translate }}</a>
                                    </li>

                                    <li><a href="#"><i class="fa fa-user-plus"></i>&nbsp;{{ "header_link_register" | translate }}</a>
                                    </li>


                                <li class="top-user-area-lang nav-drop">
                                    <a >
                                        <img src="../../../assets/template/images/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />{{ "default_lang" | translate }}<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                    </a>&nbsp;
                                    <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="German" href="#">
                                                    <img src="../../../assets/template/images/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Japanise" href="#">
                                                    <img src="../../../assets/template/images/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Italian" href="#">
                                                    <img src="../../../assets/template/images/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="French" href="#">
                                                    <img src="../../../assets/template/images/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Russian" href="#">
                                                    <img src="../assets/template/images/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Korean" href="#">
                                                    <img src="../../../assets/template/images/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                                </a>
                                            </li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li id="home" routerLinkActive="active"><a routerLink="/public/home">{{ "header_link_home" | translate }}</a>

                    </li>
                    <li id="faqs" routerLinkActive="active"><a routerLink="/public/faqs">{{ "header_link_faq" | translate }}</a>

                    </li>
                    <li id="about" routerLinkActive="active"><a routerLink="/public/about">{{ "header_link_about" | translate }}</a>

                    </li>

                    <li id="contact" routerLinkActive="active"><a routerLink="/public/contacts">{{ "header_link_contact" | translate }}</a>

                    </li>
                </ul>
            </div>
        </div>
    </header>
