<!-- banner-bottom -->
<div class="container">
    <div class="row innnerContainer" id="account_login">
        <div class="faqs-top-grids margin">
            <div class="book-grids">
                <div class="col-md-6 book-left" >
                    <div class="book-left-info">
                        <h4 class="text-center" style="color: #ed8323">{{ 'login__label_loginToAccount' | translate}}</h4>
                        <br>
                    </div>
                    <div class="book-left-form" >

                        <form accept-charset="UTF-8" [formGroup]="loginForm" (ngSubmit)="Login()">

                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>{{ 'register_label_email' | translate}}</label>
                            <input formControlName="email" class="form-control" placeholder="{{ 'login__label_placeholder_email' | translate }}" name="email" type="text"
                            [class.is-invalid]="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                        </div>
                        <div class="errorStyle" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                          <small *ngIf="loginForm.controls['email']?.errors.required">* {{ 'register__email_required_error' | translate }}<br></small>
                          <small *ngIf="loginForm.controls['email']?.errors.email">* {{ 'register__email_invalid_error' | translate }}</small>
                        </div>


                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>{{ 'register_label_password' | translate}}</label>

                            <input formControlName="password" name="password" placeholder="{{ 'login__label_placeholder_password' | translate }}" class="form-control" required="true" type="password"
                            [class.is-invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"/>
                        </div>
                        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                          <small class="text-danger" *ngIf="loginForm.controls['password']?.errors.minLength">* {{ 'register__password_minCharacter' | translate }}<br></small>
                        </div>


                        <div class="form-group">
                            <input class="btn btn-primary submitButton" type="submit" value="{{ 'login_label_login' | translate}}" [disabled]="!loginForm.valid">
                        </div>

                        </form>
                        <div class="button-bottom" style="font-size: medium">
                            <a [routerLink]="createNewAccount" > {{ 'login__label_createNewAccount' | translate}}</a>

                            <a [routerLink]="forgotPath"  style="float: right">{{ 'login__label_forgotPassword' | translate}}</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 book-left book-right">
                    <div class="book-left-info">
                        <h4 style="color: #ed8323">{{ 'register__label_reasonHavingAccount' | translate}}</h4>
                    </div>
                    <div class="book-left-bottom">

                    </div>
                    <ul>
                        <li>{{ 'register__label_accessbooking' | translate}}</li><br>
                        <li>{{ 'register__label_smsTicket' | translate}}</li><br>
                        <li>{{ 'register__label_checkoutSimpler' | translate}}</li><br>
                        <li>{{ 'register__label_contactdetail' | translate}}</li><br>
                        <li>{{ 'register__label_getalert' | translate}}</li><br>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>
