<!-- banner-bottom -->
<div class="container" style="margin-top: 50px; margin-bottom: 20px">
    <!-- container -->
    <div class="row" id="account_login">
        <div class="faqs-top-grids">
            <div class="book-grids">
                <div class="col-md-6 book-left" >
                    <div class="book-left-info">


                        <h4 style="color: #ed8323">{{ 'login__label_loginToAccount' | translate}}</h4>
                    </div>
                    <div class="book-left-form" >

                        <form accept-charset="UTF-8" [formGroup]="loginForm" (ngSubmit)="Login()">

                        <div class="form-group">
                            <label for="E-mail Address">{{ 'register_label_email' | translate}}</label>
                            <input formControlName="email" class="form-control" placeholder="Please enter your account email address to proceed" name="email" type="text"
                            [class.is-invalid]="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                        </div>
                        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                          <small class="text-danger" *ngIf="loginForm.controls['email']?.errors.required">*** {{ 'register__email_required_error' | translate }} ***<br></small>
                          <small class="text-danger" *ngIf="loginForm.controls['email']?.errors.email">*** {{ 'register__email_invalid_error' | translate }} ***</small>
                        </div>


                        <div class="form-group">
                            <label for="password">{{ 'register_label_password' | translate}}</label>

                            <input formControlName="password" name="password" placeholder="Please enter your account password to proceed" class="form-control" required="true" type="password"
                            [class.is-invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"/>
                        </div>
                        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                          <small class="text-danger" *ngIf="loginForm.controls['password']?.errors.minLength">*** {{ 'register__password_minCharacter' | translate }} ***<br></small>
                        </div>


                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Sign in" [disabled]="!loginForm.valid">
                        </div>

                        </form>
                        <div class="button-bottom" style="font-size: medium">
                            <a href="" > {{ 'login__label_createNewAccount' | translate}}</a>

                            <a href=""  style="float: right">{{ 'login__label_forgotPassword' | translate}}</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 book-left book-right">
                    <div class="book-left-info">
                        <h4 style="color: #ed8323">{{ 'register__label_reasonHavingAccount' | translate}}</h4>
                    </div>
                    <div class="book-left-bottom">

                    </div>
                    <ul>
                        <li>{{ 'register__label_accessbooking' | translate}}</li><br>
                        <li>{{ 'register__label_smsTicket' | translate}}</li><br>
                        <li>{{ 'register__label_checkoutSimpler' | translate}}</li><br>
                        <li>{{ 'register__label_contactdetail' | translate}}</li><br>
                        <li>{{ 'register__label_getalert' | translate}}</li><br>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //container -->
