.errorStyle {
  border: 1px solid #ccc !important;
  margin: 0px;
  text-align: center;
  margin-top: -10px;
  background-color: #f8c1c3 !important;
  color: #ea454b !important;
}
.container {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 25px solid #E3F2FD;
}
small{
  color: #ea454b;
}
.submitButton {
  width: 100%;
  border: none !important;
}

.submitButton:disabled {
  background-color: rgb(187, 184, 184);
  cursor: not-allowed !important;
}

.innnerContainer {
  border: 1px solid #ed8323 !important;
}

.margin {
  margin: 10px;
}
