<div class="container">
    <div class="row">
        <app-account-menu></app-account-menu>
        <div class="col-md-8">
            <div class="row">
                <div class="gap gap-small"></div>
                <div class="box-body table-responsive">
                    <div class="col-md-8">
                        <h4>{{ 'Update_user_roles' | translate }}</h4>
                        <form [formGroup]="updateRolesForm" (ngSubmit)="updateRoles()">
                            <div class="form-group">
                                <label class="text">{{ 'admin_label_user_id' | translate }}</label>
                                <input class="form-control" type="text" value="{{ user.id }}" autofocus="true"
                                    formControlName="id" [readonly]="true">
                                <div class="errorStyle"
                                    *ngIf="updateRolesForm.controls['fullName'].invalid && updateRolesForm.controls['fullName'].dirty">
                                    <b
                                        *ngIf="updateRolesForm.controls['id']?.errors.required">{{ 'edit_required_error' | translate }}<br></b>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text">{{ 'admin_label_user_fullname' | translate }}</label>
                                <input class="form-control" type="text" value="{{ user.fullName }}" autofocus="true"
                                    formControlName="fullName">
                            </div>

                            <div class="form-group">
                                <label class="text">{{ 'admin_label_user_roles' | translate }}</label>
                                <select multiple class="form-control" formControlName="roles" >
                                    <option *ngFor="let role of allRoles">{{ role }}</option>
                                </select>
                                {{ updateRolesForm.controls['roles'].value }}
                                
                            </div>

                            <input class="btn btn-primary submitButton" type="submit" value="Update"
                                [disabled]="!updateRolesForm.valid" />
                            <div class="gap gap-small"></div>
                            <a class="btn btn-default" (click)="clear()" routerLink="../admin"><i
                                    class="fa fa-mail-reply"></i>{{ 'Add_label_back' | translate }}</a>
                        </form>

                        <!-- <ng-select [items]="user.roles" bindLabel="roles" [multiple]="true" [closeOnSelect]="false"
                        [searchable]="false">
                    </ng-select> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>