<div class="container contents">
<div class="row innnerContainer">
  <div class="faqs-top-grids margin">
        <div class="about-info">
            <h4 style="color: #ed8323">{{ 'about_label_title' | translate }}</h4>
        </div>
        <div class="faqs-top-grids">
            <p class="p-style">
              {{ 'about_label_description' | translate }}
            </p>

            <p class="p-style">
              {{ 'about_label_description_paragraph_two' | translate }}
            </p>

            <p  class="p-style">
              {{ 'about_label_description_paragraph_three' | translate }}
            </p>

        </div>
    </div>

    <div class="container" style="margin-top: 100px">
        <div class="row row-wrap" data-gutter="60">
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header" ><i  class="fa fa-dollar box-icon-md round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >{{ 'about_label_price_guarantee' | translate }}</a></h5>
                        <p class="thumb-desc p-style">{{ 'about_label_price_guarantee_describe' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-lock box-icon-m round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >{{ 'home_label_trust' | translate }} &amp; {{ 'home_label_safe' | translate }}</a></h5>
                        <p class="thumb-desc p-style" style="margin-right:50px">{{ 'home_label_bestsecuritymeasure' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-thumbs-o-up box-icon-md round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >{{ 'home_label_customerservice' | translate }}</a></h5>
                        <p class="thumb-desc p-style" style="margin-right:50px !important">{{ 'home_label_customerservicedescribe' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
        </div>
    </div>
</div>
