.contents {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 25px solid #f0f4c3;
}

.innnerContainer {
  border: 1px solid #ed8323 !important;
}

.margin {
  margin: 10px !important;
}
.p-style{
  font-size: 15px;
}
