<div class="container contents">
<div class="row innnerContainer">
  <div class="faqs-top-grids margin">
        <div class="about-info">
            <h4 style="color: #ed8323">About GoWaka Online booking service</h4>
        </div>
        <div class="faqs-top-grids">
            <p class="p-style">
                GoWaka is an online  booking service  used by  African travel agencies in the bus and train sector  and event organizers for managing their operational activities with ease, GoWaka is based in Cameroon.
               .


            </p>

            <p class="p-style">
                 GoWaka is product from Go-Groups Ltd a leading software development company in Buea. GoWaka was officially launched in January 2016 by the Go-Groups Ltd
            </p>

            <p  class="p-style">
                  The GoWaka service aim at providing an online  booking system in Africa and other part of the world for various booking services like bus reservation, train reservation and event tickets reservation.
            </p>

        </div>
    </div>

    <div class="container" style="margin-top: 100px">
        <div class="row row-wrap" data-gutter="60">
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header" ><i  class="fa fa-dollar box-icon-md round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >Best Price Guarantee</a></h5>
                        <p class="thumb-desc p-style">Get the best available price always. Find a better price and we will beat it</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-lock box-icon-m round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >Trust &amp; Safety</a></h5>
                        <p class="thumb-desc p-style" style="margin-right:50px">GoWaka provides the best of security measures to ensure customer privacy and trust using it secured payment schannels</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-thumbs-o-up box-icon-md round  animate-icon-top-to-bottom"></i>
                    </header>
                    <div class="thumb-caption">
                        <h5 class="thumb-title"><a class="text-darken" >Excellent Customer service</a></h5>
                        <p class="thumb-desc p-style" style="margin-right:50px !important">With our strong technical team and customer support agents, we provide an instant customer support. Contact us 24/7 on phone, email or feedback form online</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
        </div>
    </div>
</div>
