<div class="container" style="margin-top: 50px; margin-bottom: 20px">

    <h5>{{ 'overview_label_account_profile' | translate }} bimeri </h5>
    <div class="row">
       <app-account-menu></app-account-menu>

        <div class="col-md-4">
            <div class="gap gap-small"></div>
            <h5>{{ 'setting_label_personal_info' | translate }}</h5>
            <div class="gap gap-small"></div>

            <div class="book-left-info">


                <form accept-charset="UTF-8" class="form">
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon"></i>
                    <label for="First Name">{{ 'setting_label_full_name' | translate }}</label>
                    <input required="required" class="form-control" placeholder="" name="fullName" type="text" value="bimeri">
                </div>

                <div class="form-group form-group-icon-left">
                    <i class="fa fa-phone input-icon"></i>
                    <label for="Phone Number">Phone Number</label>
                    <input required="required" class="form-control" placeholder="" name="user_contact_no" type="text" value="675656789">
                </div>

                <div class="form-group form-group-icon-left">
                    <i class="fa fa-envelope input-icon"></i>
                    <label for="E-mail Address">{{ 'register_label_email' | translate }}</label>
                    <input required="required" class="form-control" placeholder="" [disabled]="true" name="email" type="text" value="bimerinoel89@gmail.com">
                </div>

                <div class="form-group">
                    <label for="ID Card Number">{{ 'register_label_idcard' | translate }}</label>
                    <input required="required" class="form-control" placeholder="" name="id_num" type="text" value="678657456">
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Update Account">
                </div>
                </form>
            </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-3">
            <div class="gap gap-small"></div>
            <div class="gap gap-small"></div>
            <h5>{{ 'setting_label_change_password' | translate }}</h5>
            <div class="gap gap-small"></div>

            <form accept-charset="UTF-8" [formGroup]="changePassword" (ngSubmit)="onSubmit()">
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                    <label>{{ 'setting_label_current_password' | translate }}</label>
                    <input class="form-control" type="password" name="currentPassword" formControlName="currentPassword"
                    [class.is-invalid]="changePassword.controls['currentPassword'].invalid && changePassword.controls['currentPassword'].touched" />
                </div>
                <div class="errorStyle" *ngIf="changePassword.controls['currentPassword'].invalid && changePassword.controls['currentPassword'].touched">
                  <b *ngIf="changePassword.controls['currentPassword']?.errors.required">{{ 'setting_current_password_required' | translate }}<br></b>
                  <b *ngIf="!changePassword.controls['currentPassword']?.errors.minLength"> {{ 'setting_current_password_minlength' | translate }}</b>
                </div>

                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                    <label>{{ 'setting_label_new_password' | translate }}</label>
                    <input class="form-control" type="password" name="newPassword" formControlName="newPassword"
                    [class.is-invalid]="changePassword.controls['newPassword'].invalid && changePassword.controls['newPassword'].touched"/>
                </div>
                <div class="errorStyle" *ngIf="changePassword.controls['newPassword'].invalid && changePassword.controls['newPassword'].touched">
                  <b *ngIf="changePassword.controls['newPassword']?.errors.required">{{ 'setting_current_password_required' | translate }}<br></b>
                  <b *ngIf="!changePassword.controls['newPassword']?.errors.minLength"> {{ 'setting_new_password_minlength' | translate }}</b>
                </div>

                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" name="confirmNewPassword" formControlName="confirmNewPassword"
                    [class.is-invalid]="changePassword.controls['confirmNewPassword'].misMatch"/>
                </div>
                <div class="errorStyle" *ngIf="changePassword.controls['confirmNewPassword'].misMatch">
                  <b *ngIf="changePassword.controls['confirmNewPassword']?.errors.misMatch"> password mismatch<br></b>
                </div>

                <hr />
                <input class="btn btn-primary" type="submit" value="Change Password" [disabled]="!changePassword.valid"/>
            </form>
        </div>

    </div>
</div>
